
<!-- <app-rooms/> -->
<!-- <app-container>
  <app-rooms/>
  <app-employee/>
  This is from ng-content
</app-container> -->

    <!-- <div>
      <div [ngSwitch]="role">
        <div *ngSwitchCase="'user'">
          Hello User
        </div>
        <div *ngSwitchCase="'admin'">
          <app-rooms/>
        </div>
        <div *ngSwitchDefault>
           Not authorized
        </div>
      </div>
    </div> -->
    <!-- <div>
      <ng-template #user></ng-template>

    </div> -->
    <!-- <a [routerLink]="'rooms'">ROOM</a>
    <a [routerLink]="'employee'">EMPLOYEE</a> -->
    <app-app-nav></app-app-nav>
<router-outlet></router-outlet>

